h1, h2 {
  font-family: Lato;
}
span{
  color:rgb(206, 165, 55) 
}
h1{
  display:none;
}
a {
  display: inline;
}
.relative {
  position: relative;
  left: 30px;
  right:0px;
  bottom: 50px;
  top:90px;
}